<section class="section">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-lg-12"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="candidate-list" style="cursor: pointer">
          <div class="candidate-list-box card mt-4">
            <div class="p-4 card-body">
              <div class="align-items-center row">
                <div class="col-auto">
                  <div class="candidate-list-images">
                    <a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt
                        class="avatar-md img-thumbnail rounded-circle" /></a>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="candidate-list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-0">
                      <a class="primary-link">{{ChatRoom?.chatRoomId}}</a>
                    </h5>
                    <br />
                    <ul class="list-inline mb-0 text-muted">
                      <li class="list-inline-item">
                        <i class="mdi mdi-map-marker"></i>{{ formatDate(ChatRoom?.startDate) }}
                      </li>
                      To
                      <li class="list-inline-item">
                        <i class="mdi mdi-wallet"></i>
                        {{ formatDate(ChatRoom?.endDate) }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px;" *ngIf="isBidding(ChatRoom)">
          <button type="button" (click)="EditThisChatRoom(this.ChatRoomId)" class="btn btn-warning"
            style="margin-inline-end: 10px;">Edit</button>
          <button type="button" (click)="DeleteThisChatRoom()" class="btn btn-danger">Delete</button>
        </div>

        <div *ngFor="let product of this.ProductList">
          <div class="candidate-list" style="cursor: pointer">
            <div class="candidate-list-box card mt-4">
              <div class="p-4 card-body">
                <div class="align-items-center row position-relative">
                  <div class="col-auto">
                    <div class="candidate-list-images">
                      <a>
                          <img
                          class="avatar-md img-thumbnail"
                          [src]="getImage(product.productId)[0]"
                          
                          alt="Product Image"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="candidate-list-content mt-3 mt-lg-0">
                      <h5 class="fs-19 mb-0">
                        <a class="primary-link">Name: {{product.name}}</a>
                      </h5>
                      <p class="fs-19 mb-0">
                        <a class="primary-link">Initial Price: {{transform(product.initialPrice)}}</a>
                      </p>
                      <p class="fs-19 mb-0">
                        <a class="primary-link">Minimum Step: {{transform(product.minimumStep)}}</a>
                      </p>
                      <br />
                      <ul class="list-inline mb-0 text-muted">
                        <li class="list-inline-item">
                          <i class="mdi mdi-map-marker"></i>{{ formatDate(product.chatRoomProducts[product.chatRoomProducts.length - 1].biddingStartTime)
                          }}
                        </li>
                        To
                        <li class="list-inline-item">
                          <i class="mdi mdi-wallet"></i>
                          {{ formatDate(product.chatRoomProducts[product.chatRoomProducts.length - 1].biddingEndTime) }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-auto">
                    <div class="candidate-list-content mt-3 mt-lg-0">
                      <button class="btn btn-success position-absolute top-50 end-0 translate-middle-y"
                        style="margin-inline-end: 100px;" (click)="setSelectedProduct(product)" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
          tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-lg">

            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Product Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <div class="row">
                  <div class="col-md-6">
                    <div class="images p-3">
                      <div class="text-center p-4 "> <img id="main-image" [src]="this.selectedImage"
                          class="img-thumbnail object-fit-sm-contain border rounded" [style.max-height.px]="200" />
                      </div>

                      <div class="image-container thumbnail text-center">
                        <!-- <div *ngFor="let image of selectedProduct.images; let i = index">
                          <img (click)="changeImage(image.image)" [src]="'productImages/' + image.image" width="70"
                            height="70">
                        </div> -->
                        <div
                          *ngFor="
                            let image of this.getImage(this.selectedProduct?.productId);
                            let i = index
                          "
                        >
                          <img
                          (click)="changeImage(image)"
                          [src]="image"
                          width="70"
                            height="70"
                          alt="Product Image"
                        />
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="product p-4">
                      <div class="mt-4 mb-3">
                        <h3 class="text-uppercase text-muted brand">{{selectedProduct?.name}}</h3>
                        <div class="price d-flex flex-row align-items-center">
                          <span>Price: {{transform(selectedProduct?.initialPrice)}}</span>
                        </div>
                        <div class="price d-flex flex-row align-items-center"> <span>Min Step:
                            {{transform(selectedProduct?.minimumStep)}}</span>
                        </div>
                      </div>
                      <p class="about">{{selectedProduct?.description}}</p>
                      <ul class="list-inline mb-0 text-muted">
                        <li class="list-inline-item">
                          <i class="mdi mdi-map-marker"></i>Start Bidding: {{
                          formatDate(selectedProduct?.chatRoomProducts[selectedProduct.chatRoomProducts.length - 1].biddingStartTime) }}
                        </li>

                        <li class="list-inline-item">
                          <i class="mdi mdi-wallet"></i>End Bidding:
                          {{ formatDate(selectedProduct?.chatRoomProducts[selectedProduct.chatRoomProducts.length - 1].biddingEndTime) }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>