<nav
  *ngIf="getIsLoggedIn() | async"
  class="navbar navbar-expand-lg navbar-light bg-light"
>
  <div class="container px-4 px-lg-5">
    <a
      class="navbar-brand"
      (click)="redirectToHomepage()"
      style="cursor: pointer"
      >Logo</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        *ngIf="this.role === 'User'"
        class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="redirectToHomepage()"
            style="cursor: pointer"
            >Homepage</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="redirectToProducts()"
            style="cursor: pointer"
            >Find bidding</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="redirectToUserProducts()"
            style="cursor: pointer"
            >Your product</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="redirectToUserBiddings()"
            style="cursor: pointer"
            >History Biddings</a
          >
        </li>
      </ul>
      <ul
        *ngIf="this.role === 'Admin'"
        class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="redirectToHomepage()"
            style="cursor: pointer"
            >Homepage</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="redirectToCreateChatRoom()"
            style="cursor: pointer"
            >Create Chatroom</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="redirectToAllChatRoom()"
            style="cursor: pointer"
            >List Chatroom</a
          >
        </li>
      </ul>

      <form class="d-flex" *ngIf="this.role === 'User'">
        <button
          (click)="redirectToChatRoomPage()"
          class="btn btn-outline-dark btn-margin"
          type="submit"
        >
          <i class="bi-cart-fill me-1"></i>
          Bidding Room
        </button>
      </form>
      <form class="d-flex">
        <button
          (click)="redirectToProfilePage()"
          class="btn btn-outline-dark btn-margin"
          type="submit"
        >
          <i class="bi-cart-fill me-1"></i>
          Profile
        </button>
      </form>
      <!-- <form class="d-flex">
        <button (click)="signOut()" class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Sign out
        </button>
      </form> -->
    </div>
  </div>
</nav>
